*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(
        135deg,
        #eef4ff 0%,
        #f8fbff 50%,
        #eef4ff 100%
    );

    min-height:100vh;

}